<div id="passageDSModal" class="editModal modal hide">
  <button class="save close subtle" data-modal-hide="this">
    <i class="fa fa-times"></i>
  </button>

  <p class="title">
    <input type="text" class="passageName fillin" placeholder="Passage Name">
  </p>

  <div class="content">
    <label for="edit-ds-oip">Mobile Commons Opt-in Path</label>
    <input type="number" id="edit-ds-oip" name="ds-oip" class="block fillin" placeholder="Opt-in Path">
    <div class="fullEdit">

      <textarea class="passageText" placeholder="Enter the body text of your passage here. Custom DS formatting follows this pattern: [[display text|link|answer]]."></textarea>
    </div>
  </div>
</div>