<div id="passageEndLevelIndivModal" class="editModal modal hide">
  <button class="save close subtle" data-modal-hide="this">
    <i class="fa fa-times"></i>
  </button>

  <p class="title">
    <input type="text" class="passageName fillin" placeholder="Passage Name">
  </p>

  <div class="content">
    <label for="edit-ds-oip">Mobile Commons Opt-in Path</label>
    <input type="number" id="edit-ds-oip" name="ds-oip" class="block fillin" placeholder="Opt-in Path">

    <label for="edit-indiv-success-path">Is this an individual success path?</label>
    <input type="text" id="edit-indiv-success-path" name="indiv-success-path" class="block fillin" placeholder="true/(leave blank)">

    <label for="edit-indiv-superlative-path">What individual endgame superlative result does this path produce? (comma-separated)</label>
    <input type="text" id="edit-indiv-superlative-path" name="indiv-endgame-superlative" class="block fillin" placeholder="ex.: nerdiest,superlative,friendliest">

    <div class="fullEdit" id="passage-ds-text">
      <textarea class="passageText" placeholder="Enter the body text of your passage here. Custom DS formatting follows this pattern: [[display text|link|answer]]."></textarea>
    </div>
  </div>
</div>