<div id="storyEditView">

<!--(bake /templates/storyeditview/toolbar.html)-->

<div class="passages">
<div class="marquee"></div>
</div> <!-- .passages -->

<!--(bake /templates/storyeditview/passageeditmodal.html)-->
<!--(bake /templates/storyeditview/stylesheeteditmodal.html)-->
<!--(bake /templates/storyeditview/scripteditmodal.html)-->
<!--(bake /templates/storyeditview/searchmodal.html)-->
<!--(bake /templates/storyeditview/renamestorymodal.html)-->
<!--(bake /templates/storyeditview/storyformatmodal.html)-->

<!--(bake /templates/storyeditview/passageEditDSModal.html)-->
<!--(bake /templates/storyeditview/passageEditEndGameGroupSuccessNumberResultModal.html)-->
<!--(bake /templates/storyeditview/passageEditEndGameIndivSuperlativeResultModal.html)-->
<!--(bake /templates/storyeditview/passageEditEndGameIndivRankResultModal.html)-->
<!--(bake /templates/storyeditview/passageEditEndLevelModal.html)-->
<!--(bake /templates/storyeditview/passageEditStoryConfigModal.html)-->

</div> <!-- #storyEditView -->
